// Custom.scss

//Enabling overrides
$enable-rounded: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-grid-classes:true;


// Your variable overrides
$body-bg: #000;
$body-color: #111;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";