
.content{
    margin: 5vh auto;
    max-width: 90vw;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 80px rgba(255, 255, 255, .7)
}

.cmlogo{
    text-decoration: none;
    font-family: 'Futura Std', sans-serif;
    font-weight: 600;
    color: black;
    margin: auto;
    padding-left: 1vw;
    font-size: larger;
}
.page{
    margin: 5vh auto;
    max-width: 90vw;
    width: 90vw;
    margin: 0 auto;
    scroll-behavior: smooth;
    overflow-wrap: normal;  
}

.about img{
    max-width: 25vw;
    clip-path: circle(12vw at center);
}

.headWrapper{
    max-width: 90vw;
    margin: 0 auto;
}

.navWrapper{
    max-width: 50vw;
    margin: auto;
}
.siteNav{
    padding: 2vh 0;
}

.loading {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    border: 2vw solid rgba(#fcc58a);
    border-radius: 50%;
    border-top-color: #158876;
    animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  /* Create media for screen size under 750 to reduce width of nav items */