.slugPage{
    margin: 10vh auto;
    max-width: 50vw;
    width: 50vw;
}

.slugPage img{
    max-width: 50vw;
    margin: 5vh auto;
}

.content{
    margin: 5vh auto;
    max-width: 80vw;
    width: 80vw;
}

.cmlogo{
    text-decoration: none;
    font-family: 'Futura Std', sans-serif;
    font-weight: 600;
    color: black;
    margin: auto;
    padding-left: 1vw;
    font-size: larger;
}
.index{
    max-width: 50vw;
    width: 50vw;
    font-family: 'Futura Std', sans-serif;
    font-weight: 400;
    color: black;
    margin: 10vh auto;
    padding-left: 1vw;
    font-size: larger;
    align-items: center;
    justify-items: center;
}
.container{
    margin: 5vh auto;
    width: 90vw;
    max-width: 90vw;
    margin: 0 auto;
    scroll-behavior: smooth;
    overflow-wrap: normal;  
}

.about img{
    max-width: 25vw;
    /* clip-path: circle(11vw at center) */
}

.headWrapper{
    max-width: 90vw;
    margin: 0 auto;
}

.navWrapper{
    max-width: 50vw;
    margin: auto;
}
.siteNav{
    padding: 2vh 0;
}

.loading {
    display: inline-block;
    border: 10vw solid rgba(#015440);
    border-radius: 15%;
    border-top-color: #ffb700;
    animation: spin .5s ease-in-out infinite;
    background-color: rgb(0, 255, 195);
    width: 10vw;
    height: 1vh;
    margin: 10vh auto;
  }
  @keyframes spin {
    0% {
        clip-path: circle(1vw at center)
        }
     100% {
        clip-path: circle(5vw at center)    
    }
  }
  /* Create media for screen size under 750 to reduce width of nav items */

.clip-animation img { 
    clip-path: circle(11vw at center)
}
  
.clip-animation img{ 
    transition: ease-in;
    animation: clip 7s infinite alternate-reverse;
    animation-delay: 3s;
  }
  
  @keyframes clip {
    0% {
        clip-path: circle(5vw at center)
        }
     100% {
        clip-path: circle(11vw at center)    
    }
  }